<div class="conteiner-fluid">
  <nav class="navbar navbar-expand-md n navbar-dark bg-dark">
    <a class="navbar-brand nav-link" href="#" routerLink="/pessoas"></a> 

    <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/enderecos">Endereços</a>
    //</li>
    //<li class="nav-item">
    //<a class="nav-link" href="#" routerLink="/cidades">Cidades</a>
    //</li>
    //<li class="nav-item">
    //
    <a class="nav-link" href="#" routerLink="/estados">Estados</a>
  </li>


    <i class="fa fa-user-edit"></i>
       
      <router-outlet></router-outlet>

